$header_photo_url:'m-h-night';
$logo-text-color:#fff;
$header-color:#fff;
$button_color:#e3ac00;
$body-background:#21232e;
$card-background:#3b3f50;
$cards-title-color:#fff;
$selected-color:#e46262;
$banner-title-color:#fff;
$bannet-text-color:#d2c4ac;
$bannet-gradient:#953051;
$footer-background:#3b3f50;
$footer-color:#d1d1d1;
$footer-width:330px;
$pict_map:(
	w1:445px,
	h1:295px,
	w2:430px,
	h2:285px,
	w3:475px,
	h3:315px
);
$add_margin:6%;