$header_photo_url:'m-h-day';
$logo-text-color:#2c2f3c;
$header-color:#2c2f3c;
$button_color:#699900;
$body-background:#fff;
$card-background:#21232e;
$cards-title-color:#000;
$selected-color:#14a0c7;
$banner-title-color:#000;
$banner-text-color:#d6e5c6;
$bannet-gradient:#1559d6;
$footer-background:#21232e;
$footer-color:#c0c3ce;
$footer-width:305px;
$pict_map:(
	w1:430px,
	h1:290px,
	w2:420px,
	h2:275px,
	w3:460px,
	h3:305px
);
$add_margin:8%;